<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioAndImageTranscoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B663E991D7960C3005496A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B663EB21D7960C4005496A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B663EBD1D7960C4005496A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
